---
import Layout from "@/layouts/Layout.astro";
import { checkAuth } from "@/utils/auth";
import { validDateRoute } from "@/utils/dateRoutes";

const { year, month } = Astro.params;

// Authenticated route
const isAuthenticated = checkAuth(Astro.cookies.get("auth"));

if (!isAuthenticated) {
	const currentPath = Astro.url.pathname;
	return Astro.redirect(`/login?path=${currentPath}`);
}

// Validate route
const isValid = validDateRoute(year, month);

if (!isValid || !month) {
	return Astro.redirect("/404");
}
---

<Layout title={month}>
	{
		isAuthenticated && (
			<h1>
				{year} - {month}
			</h1>
		)
	}
</Layout>
