:root {
	/* Design Tokens */
	--font-title: Georgia, Times, Times New Roman, serif;
	--font-copy: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

	--lavender: #faf8fc;
	--olivine: #a0c269;
	--slate: #353535;
	--lake: #5172a3;
	--midnight: #1c0118;
	--dusk: #656565;
	--dawn: #888888;

	--type--2: clamp(0.7813rem, 0.7769rem + 0.0231vw, 0.8rem);
	--type--1: clamp(0.9375rem, 0.9231rem + 0.0769vw, 1rem);
	--type-0: clamp(1.125rem, 1.0962rem + 0.1538vw, 1.25rem);
	--type-1: clamp(1.35rem, 1.301rem + 0.2615vw, 1.5625rem);
	--type-2: clamp(1.62rem, 1.5431rem + 0.41vw, 1.9531rem);
	--type-3: clamp(1.944rem, 1.8292rem + 0.6122vw, 2.4414rem);
	--type-4: clamp(2.3328rem, 2.1669rem + 0.8849vw, 3.0518rem);
	--type-5: clamp(2.7994rem, 2.5651rem + 1.2496vw, 3.8147rem);

	/* Utilities */
	--c-bg: var(--lavender);
	--c-text: var(--midnight);
	--c-text-light: var(--dusk);
	--c-title: var(--slate);
	--c-highlight: var(--lake);

	--c-green: var(--olivine);
	--c-blue: var(--lake);

	--g-blue-green: linear-gradient(
		90deg,
		var(--slate) 0%,
		var(--c-green) 35%,
		var(--c-blue) 100%
	);
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) {
		--lake: color-mix(in lch, #5172a3, white 30%);
		--lavender: #cdcdcd;

		--c-bg: var(--midnight);
		--c-text: var(--lavender);
		--c-title: var(--olivine);
		--c-text-light: var(--dawn);
	}

	a:hover,
	a:focus-visible {
		color: var(--c-green);
	}
}

html[data-theme="dark"] {
	--lake: color-mix(in lch, #5172a3, white 30%);
	--lavender: #cdcdcd;

	--c-bg: var(--midnight);
	--c-text: var(--lavender);
	--c-title: var(--olivine);
	--c-text-light: var(--dawn);

	a:hover,
	a:focus-visible {
		color: var(--c-green);
	}
}

/* Element Defaults */

@media print {
	:root {
		font-size: 14px;
	}

	p,
	ul {
		break-inside: avoid;
	}
}

body {
	background-color: var(--c-bg);
	font-family: var(--font-copy);
	font-size: var(--font-size, --type-0);
	line-height: 1.7;
	color: var(--c-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
	font-weight: 200;
	line-height: 1.15;
	color: var(--c-title);
	font-size: var(--type-1);
	text-wrap: pretty;

	& :is(time, span:not[class]) {
		font-size: var(--type--1);
	}
}

h1 {
	font-size: var(--type-5);
}

h2 {
	font-size: var(--type-3);
}

h3 {
	font-size: var(--type-2);
}

a {
	position: relative;
	font-weight: bold;
	text-decoration-style: wavy;
	text-underline-offset: 0.2em;
	color: var(--c-highlight);

	&:hover,
	&:focus-visible {
		color: color-mix(in lch, var(--c-green), black 35%);
		outline: transparent;
	}

	&:focus-visible::before {
		content: "➡";
		position: absolute;
		left: -2rem;
		top: 0;
		filter: hue-rotate(220deg);
	}
}

th,
td {
	padding: 0.25rem 0.5rem;
}

th {
	text-align: start;
	font-family: var(--font-title);
	font-weight: normal;
}

sup,
sub {
	font-size: var(--type--2);
	line-height: 0.5;
}
