---
import Layout from "@/layouts/Layout.astro";
import { checkAuth } from "@/utils/auth";
import { validDateRoute } from "@/utils/dateRoutes";

const { year } = Astro.params;

// Remove redirect cruft
Astro.url.search = "";

// Authenticated route
const isAuthenticated = checkAuth(Astro.cookies.get("auth"));

if (!isAuthenticated) {
	const currentPath = Astro.url.pathname;
	return Astro.redirect(`/journal/login?path=${currentPath}`);
}

// Validate route
const isValid = validDateRoute(year);

if (!isValid || !year) {
	return Astro.redirect("/journal/404");
}
---

<Layout title={year}>{isAuthenticated && <h1>{year}</h1>}</Layout>
